.u-section-1 .u-sheet-1 {
  min-height: 514px;
}

.u-section-1 .u-table-1 {
  margin-top: 272px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-block-dd6b-10 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
}

.u-block-dd6b-15 {
  height: 46px;
}

.u-section-1 .u-table-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-dd6b-24 {
  height: 46px;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-18 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-20 {
  font-weight: 700;
}

.u-block-dd6b-43 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-left: initial;
  }

  .u-section-1 .u-table-2 {
    margin-top: -251px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 648px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 27px 910px 0 -67px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -32px 570px 0 273px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -32px 260px 0 583px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -32px -80px 0 923px;
}

.u-section-2 .u-table-1 {
  width: 297px;
  margin: 12px auto 0 -67px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-7 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-8 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-9 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-10 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-11 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-12 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-13 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-14 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-15 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-16 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-17 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-18 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-19 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-20 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-21 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-22 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-23 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-24 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-25 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-26 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-27 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-28 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-29 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-30 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-31 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-32 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-33 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-34 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-35 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-36 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-37 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-38 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-39 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-40 {
  font-size: 0.75rem;
}

.u-block-3f9d-51 {
  background-image: none;
}

.u-section-2 .u-table-2 {
  width: 297px;
  margin: -563px auto 0 257px;
}

.u-section-2 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-46 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-47 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-48 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-49 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-50 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-51 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-52 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-53 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-54 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-55 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-56 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-57 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-58 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-59 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-60 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-61 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-62 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-63 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-64 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-65 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-66 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-67 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-68 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-69 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-70 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-71 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-72 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-73 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-74 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-75 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-76 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-77 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-78 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-79 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-80 {
  font-size: 0.75rem;
}

.u-block-3f9d-106 {
  background-image: none;
}

.u-section-2 .u-table-3 {
  width: 297px;
  margin: -562px 262px 0 auto;
}

.u-section-2 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-86 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-87 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-88 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-89 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-90 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-91 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-92 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-93 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-94 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-95 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-96 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-97 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-98 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-99 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-100 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-101 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-102 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-103 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-104 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-105 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-106 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-107 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-108 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-109 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-110 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-111 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-112 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-113 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-114 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-115 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-116 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-117 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-118 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-119 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-120 {
  font-size: 0.75rem;
}

.u-block-3f9d-161 {
  background-image: none;
}

.u-section-2 .u-table-4 {
  width: 297px;
  margin: -561px -60px 12px auto;
}

.u-section-2 .u-table-header-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-126 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-127 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-128 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-129 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-130 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-131 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-132 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-133 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-134 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-135 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-136 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-137 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-138 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-139 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-140 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-141 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-142 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-143 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-144 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-145 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-146 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-147 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-148 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-149 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-150 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-151 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-152 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-153 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-154 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-155 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-156 {
  background-image: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-157 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-158 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-159 {
  font-size: 0.75rem;
}

.u-section-2 .u-table-cell-160 {
  font-size: 0.75rem;
}

.u-block-3f9d-216 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 810px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 470px;
    margin-left: 173px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 160px;
    margin-left: 483px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 823px;
  }

  .u-section-2 .u-table-3 {
    height: 563px;
  }

  .u-section-2 .u-table-4 {
    height: 563px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 700px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 360px;
    margin-left: 63px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 50px;
    margin-left: 373px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 713px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 610px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 243px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 243px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 623px;
  }

  .u-section-2 .u-table-2 {
    margin-left: 243px;
  }

  .u-section-2 .u-table-3 {
    margin-right: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 510px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 43px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 43px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 523px;
  }

  .u-section-2 .u-table-2 {
    margin-left: 43px;
  }

  .u-section-2 .u-table-3 {
    margin-right: 43px;
  }
}.u-section-3 {
  min-height: 487px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 36px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 437px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 0 4px;
}

.u-section-3 .u-text-2 {
  animation-duration: 1000ms;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 4px 4px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 437px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 0 4px;
}

.u-section-3 .u-text-4 {
  animation-duration: 1000ms;
  font-size: 0.75rem;
  margin: 4px 4px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 437px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 0 4px;
}

.u-section-3 .u-text-6 {
  animation-duration: 1000ms;
  font-size: 0.75rem;
  margin: 4px 4px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 437px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 0 4px;
}

.u-section-3 .u-text-8 {
  animation-duration: 1000ms;
  font-size: 0.75rem;
  margin: 4px 4px 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 679px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    min-height: 483px;
    margin-top: 1249px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 360px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 360px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 257px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 2235px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 357px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 5417px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 3658px;
  }
}